.loading {
  width: 10rem;
  height: 18rem;
  margin: 0 auto;
  img {
    max-width: 100%;
    animation: rotate 1.5s infinite;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
